<f:if condition="{processedRow.tx_hivetile_tileelement}">
    <h1><f:translate key="LLL:EXT:hive_tile/Resources/Private/Language/locallang_db.xlf:tt_content.CType.hivetile_tile" /></h1>

    <f:if condition="{processedRow.tx_hivetile_tileelement}">
        <strong><f:translate key="LLL:EXT:hive_tile/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivetile_tileelement" />:</strong>
        <br>
        <ol>
            <f:for each="{processedRow.tx_hivetile_tileelement}" as="item">
                <li>
                    {item.tx_hivetile_elementbackendtitle} (id={item.uid})<f:if condition="{item.tx_hivetile_elementclass}"> | {item.tx_hivetile_elementclass}</f:if>
                </li>
            </f:for>
        </ol>
    </f:if>
</f:if>
