<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:hive="http://typo3.org/ns/HIVE/HiveTile/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="c-{data.uid}" class="row no-gutters g-0 tx_hive_tile tile
        {f:if(condition: data.layout, then: 'frame-layout-{data.layout}')}
        {f:if(condition: data.frame_class, then: 'frame-{data.frame_class}')}
        {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')}
        {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')} ">

  <f:for each="{data_tx_hivetile_tileelement}" as="data_item" iteration="i">
    <f:if condition="{data_item.data.record_type} == linked-element">
      <f:then>
        <f:render section="linked-element" arguments="{data_item: data_item}" />
      </f:then>
      <f:else>
        <f:render section="default" arguments="{data_item: data_item}" />
      </f:else>
    </f:if>
  </f:for>

</div>

<f:section name="default">
  <div class="{data_item.data.tx_hivetile_elementsize} {data_item.data.tx_hivetile_elementclass} tileelement tileelement--{i.cycle} bg-{data_item.data.tx_hivetile_elementbgcolor} bg--{data_item.data.tx_hivetile_elementbgcolor} {f:if(condition: '{data_item.data.tx_hivetile_elementtitle}', then: 'has-title', else: '')} {f:if(condition: '{data_item.data.tx_hivetile_elementtext}', then: 'has-text', else: '')} {f:if(condition: '{data_item.data_tx_hivetile_elementicon}', then: 'has-icon', else: '')}">
    <f:if condition="{data_item.data_tx_hivetile_elementbgimage}">
      <f:for each="{data_item.data_tx_hivetile_elementbgimage}" as="file">
        <div class="element-backgroundimage image-container" style="background-image: url(/fileadmin/{file.originalFile.identifier}); background-position: {data_item.data.tx_hivetile_elementbgimageposition};"></div>
      </f:for>
    </f:if>

    <f:if condition="{data_item.data.tx_hivetile_elementtitle}">
      <div class="element-title">
        <f:switch expression="{data_item.data.tx_hivetile_elementitletype}">
          <f:case value="h1"><h1 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h1></f:case>
          <f:case value="h2"><h2 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h2></f:case>
          <f:case value="h3"><h3 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h3></f:case>
          <f:case value="h4"><h4 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h4></f:case>
          <f:case value="h5"><h5 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h5></f:case>
          <f:case value="h6"><h6 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h6></f:case>
          <f:case value="strong"><strong class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></strong></f:case>
          <f:case value="label"><label class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></label></f:case>
          <f:defaultCase><span class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></span></f:defaultCase>
        </f:switch>
      </div>
    </f:if>

    <f:if condition="{data_item.data.tx_hivetile_elementtext}">
      <div class="element-text">
        <f:format.html>{data_item.data.tx_hivetile_elementtext}</f:format.html>
      </div>
    </f:if>

    <f:if condition="{data_item.data.tx_hivetile_elementlink}">
      <div class="element-link">
        <f:link.typolink parameter="{data_item.data.tx_hivetile_elementlink}">{data_item.data.tx_hivetile_elementlink -> hive:linkWizard(part:'title')}</f:link.typolink>
      </div>
    </f:if>

    <f:if condition="{data_item.data_tx_hivetile_elementicon}">
      <div class="element-icon">
        <f:for each="{data_item.data_tx_hivetile_elementicon}" as="file">
          <f:image image="{file}" alt="{file.alternative}" title="{file.title}"/>
        </f:for>
      </div>
    </f:if>
  </div>
</f:section>

<f:section name="linked-element">

  <f:link.typolink parameter="{data_item.data.tx_hivetile_elementlink}">
    <div class="{data_item.data.tx_hivetile_elementsize} {data_item.data.tx_hivetile_elementclass} tileelement tileelement--{i.cycle} bg-{data_item.data.tx_hivetile_elementbgcolor} bg--{data_item.data.tx_hivetile_elementbgcolor} {f:if(condition: '{data_item.data.tx_hivetile_elementtitle}', then: 'has-title', else: '')} {f:if(condition: '{data_item.data.tx_hivetile_elementtext}', then: 'has-text', else: '')} {f:if(condition: '{data_item.data_tx_hivetile_elementicon}', then: 'has-icon', else: '')}">
      <f:if condition="{data_item.data_tx_hivetile_elementbgimage}">
        <f:for each="{data_item.data_tx_hivetile_elementbgimage}" as="file">
          <div class="element-backgroundimage image-container" style="background-image: url(/fileadmin/{file.originalFile.identifier}); background-position: {data_item.data.tx_hivetile_elementbgimageposition};"></div>
        </f:for>
      </f:if>

      <f:if condition="{data_item.data.tx_hivetile_elementtitle}">
        <div class="element-title">
          <f:switch expression="{data_item.data.tx_hivetile_elementitletype}">
            <f:case value="h1"><h1 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h1></f:case>
            <f:case value="h2"><h2 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h2></f:case>
            <f:case value="h3"><h3 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h3></f:case>
            <f:case value="h4"><h4 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h4></f:case>
            <f:case value="h5"><h5 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h5></f:case>
            <f:case value="h6"><h6 class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></h6></f:case>
            <f:case value="strong"><strong class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></strong></f:case>
            <f:case value="label"><label class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></label></f:case>
            <f:defaultCase><span class="{data_item.data.tx_hivetile_elementitleposition}"><f:format.raw>{data_item.data.tx_hivetile_elementtitle}</f:format.raw></span></f:defaultCase>
          </f:switch>
        </div>
      </f:if>

      <f:if condition="{data_item.data.tx_hivetile_elementtext}">
        <div class="element-text">
          <f:format.html>{data_item.data.tx_hivetile_elementtext}</f:format.html>
        </div>
      </f:if>

      <f:if condition="{data_item.data_tx_hivetile_elementicon}">
        <div class="element-icon">
          <f:for each="{data_item.data_tx_hivetile_elementicon}" as="file">
            <f:image image="{file}" alt="{file.alternative}" title="{file.title}"/>
          </f:for>
        </div>
      </f:if>
    </div>
  </f:link.typolink>
</f:section>


